
#css-controls-demo label {
	display: block;
}

section > header.slide.first > h1{
	top: 30%;
	font-size: 277%;
}

@media only screen and (-webkit-min-device-pixel-ratio:0) {
/* hack to avoid using the Object element in Safari/WebKit, due to WebKit Bug 27190 */
	object[type="image/svg+xml"] {
		display: none;
	}
	
}
